@page "/addCustomer"
@using Domain.Entities
@using Application.Services.Customers


<div class="container-fluid mt-5">

<link href="/lib/bootstrap/dist/css" rel="stylesheet">


<h3 class="label">Add Customer </h3>
<a href="/Customers" class="btn btn-secondary">Back to List</a>

<EditForm Model="Customer">
    <label class="label">Id</label>
    <input type="text" placeholder="Enter Employee" class="item" @bind-value="Customer.Id" />
    <label class ="label">Name</label>
    <input type="text" placeholder="Enter Institution" class="item" @bind-value="Customer.Name" />
    <label class="label">Email</label>
    <input type="text" placeholder="Enter Email" class="item" @bind-value="Customer.Email" />
    <label class ="label">Address</label>
    <input type="text" placeholder="Enter Address" class="item" @bind-value="Customer.Address" />
    <label class="label">City</label>
    <input type="text" placeholder="Enter City " class="item" @bind-value="Customer.City" />
     <label class="label">Type</label>
    <input type="text" placeholder="Enter Type" class="item" @bind-value="Customer.Type" />
    <label class ="label">Status</label>
    <input type="text" placeholder="Enter Status" class="item" @bind-value="Customer.Status" />
    <label class="label">CreatedAt</label>
    <input type="date" placeholder="Enter CreatedAt" class="item" @bind-value="Customer.CreatedAt" />
    <label class ="label">CreatedBy</label>
    <input type="text" placeholder="Enter CreatedBy" class="item" @bind-value="Customer.CreatedBy" />
    <label class="label">City</label>
    <input type="text" placeholder="Enter City " class="item" @bind-value="Customer.City" />



    <button type="submit" class="BUTTON">Save</button>

</EditForm>

</div>
@code 
{
    Customer Customer = new Customer();
 }
    


