@page "/User/create"

@rendermode InteractiveServer

@using Application.DTO
@using Application.Services.Users
@using System.ComponentModel.DataAnnotations
@inject IIdentityService IdentityService
@inject NavigationManager NavigationManager

<PageTitle>Create User</PageTitle>


   
  @* <a href="/Customers" class="btn btn-secondary">Back to List</a> *@
 <MudButton Href="/User" Variant="Variant.Filled" Color="Color.Secondary">Back to List</MudButton>
       
    <h3>Create User</h3>
<div class="container mt-4">
  <div class="row justify-content-center">

<EditForm Model="@Model" OnValidSubmit="OnvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary  class="alert alert-danger py-2 mb-3"/>

        <MudGrid Spacing="3">
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.FirstName" Label="First Name" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.LastName" Label="Last Name" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Email" Label="Email" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.PhoneNumber" Label="Phone Number" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="Password" @bind-Value="Model.Password" Required="true" Variant="Variant.Filled">
                </MudTextField>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="ConfirmPassword" @bind-Value="Model.ConfirmPassword" Required="true" Variant="Variant.Filled"> 
                </MudTextField>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="EmailConfirmed" @bind-Value="Model.EmailConfirmed" Required="true" Variant="Variant.Filled">
                </MudTextField>
            </MudItem>
           
                  </MudGrid>

       @* <button type="submit" class="btn btn-primary mt-3">Create Customer</button> *@
      <MudButton Href="/User" Variant="Variant.Filled" Color="Color.Error">Cancel</MudButton>
       <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnvalidSubmit">Create User</MudButton>
 
    </EditForm>
    </div>  
    </div>
     

@code{
    private RegisterUserDTO Model { get;set; } =new();
    private async void OnvalidSubmit()
    {
        await IdentityService.RegisterUser(Model);
        NavigationManager.NavigateTo("/User");
    }
}